* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .TH {
    @apply bg-secondary rounded text-base text-white border-2 border-white;
  }
  .CL {
    @apply bg-stone-300 border-2 rounded text-base border-white;
  }
  .Field {
    @apply focus:outline-none w-full;
  }
}
